# Environment Variables
# Port is configured automatically to 3000
GEMINI_API_KEY=
VITE_SUPABASE_URL=https://YOUR_SUPABASE_PROJECT_URL.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_CLOUDINARY_API_KEY=
